/* cloning a design in css*/
body {
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;

}
.container {
    display: flex;
    align-items: center;
    width: 70%;
    height: 50vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
}

.box1 {
    width: 140px;
    height: 120px;
    background-color: brown;
    font-size: 1.5rem;
}

.box2 {
    background-color: blue;
    z-index: 1;
    width: 180px;
    height: 150px;
    position: relative;
    top: -6px;
    font-size: 2rem;
}

.box3 {
    background-color: red;
    height: 110px;
    z-index: 2;
    width: 240px;
    height: 190px;
    position: relative;
    top: -15px;
    font-size: 3rem;
}

.box4 {
    background-color: purple;
    z-index: 1;
    width: 180px;
    height: 150px;
    position: relative;
    top: -6px;
    font-size: 2rem;
}

.box5 {
    background-color: cyan;
    width: 140px;
    height: 120px;
    font-size: 1.5rem;
}